<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kakunpc.alfred-kibela-workflow</string>
	<key>connections</key>
	<dict>
		<key>20A2F14D-7805-433F-9526-5F8EBBBC7712</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76ACBAA-679B-4711-8628-5466BA457BA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EE04970-7970-479D-8BF0-A02E8FD697E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD9481E9-FDDA-431D-8072-E6E27F10099C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B76ACBAA-679B-4711-8628-5466BA457BA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8B5D69F-A9E6-47B7-82E9-7B7D708CB2F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kakunpc</string>
	<key>description</key>
	<string>Alfredでkibelaを検索できます</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>kibela</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>kibela setup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E8B5D69F-A9E6-47B7-82E9-7B7D708CB2F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./setup.rb &quot;{query}&quot;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B76ACBAA-679B-4711-8628-5466BA457BA3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>kibela setup</string>
				<key>subtext</key>
				<string>kibela setup &lt;personal accessToken&gt; &lt;teamName&gt;</string>
				<key>text</key>
				<string>kibela setup</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>20A2F14D-7805-433F-9526-5F8EBBBC7712</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kibela search</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for &quot;{query}&quot; ...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./search.rb &quot;{query}&quot;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Posts for &quot;{query}&quot;</string>
				<key>title</key>
				<string>kibela Search Posts</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4EE04970-7970-479D-8BF0-A02E8FD697E0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AD9481E9-FDDA-431D-8072-E6E27F10099C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>kibela setup で設定が必要です。</string>
	<key>uidata</key>
	<dict>
		<key>20A2F14D-7805-433F-9526-5F8EBBBC7712</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>4EE04970-7970-479D-8BF0-A02E8FD697E0</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>AD9481E9-FDDA-431D-8072-E6E27F10099C</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>B76ACBAA-679B-4711-8628-5466BA457BA3</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>E8B5D69F-A9E6-47B7-82E9-7B7D708CB2F1</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/kakunpc</string>
</dict>
</plist>
